.sign-up-version-8,
.sign-up-version-8 * {
  box-sizing: border-box;
}
.sign-up-version-8 {
  background: var(--color-palette-neutral-00, #ffffff);
  border-radius: 9px;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.content {
  padding: 0px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 113px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 68px;
}
.frame-427321847 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 579px;
  position: relative;
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.arrow-narrow-left {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.register {
  color: var(--black, #1a1c1e);
  text-align: left;
  font-family: var(--heading-h1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-h1-font-size, 32px);
  line-height: var(--heading-h1-line-height, 130%);
  letter-spacing: var(--heading-h1-letter-spacing, -0.02em);
  font-weight: var(--heading-h1-font-weight, 700);
  position: relative;
  width: 327px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.create-an-account-to-continue {
  color: var(--grey, #6c7278);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-area {
  background: var(--primary-0, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--stroke, #edf1f3);
  border-width: 1px;
  padding: 27px 14px 27px 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  overflow: hidden;
}
.frame-33825 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.yourname-gmail-com {
  color: var(--secondary-500, #1a1c1e);
  text-align: left;
  font-family: var(--body-small-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-small-medium-font-size, 14px);
  line-height: var(--body-small-medium-line-height, 140%);
  letter-spacing: var(--body-small-medium-letter-spacing, -0.01em);
  font-weight: var(--body-small-medium-font-weight, 500);
  position: relative;
  width: 207px;
  height: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.calendar-due {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.phone-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-area2 {
  background: var(--primary-0, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--secondary-100, #edf1f3);
  border-width: 1px;
  padding: 27px 14px 27px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  overflow: hidden;
}
.country {
  background: var(--primary-0, #ffffff);
  border-style: solid;
  border-color: var(--secondary-100, #edf1f3);
  border-width: 1px;
  padding: 27px 14px 27px 14px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 62px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.countries-united-kingdom {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}
.circle-george-cross {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.background {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.arrow-down {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.vuesax-linear-arrow-down {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._12 {
  color: var(--secondary-500, #1a1c1e);
  text-align: left;
  font-family: var(--body-small-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-small-medium-font-size, 14px);
  line-height: var(--body-small-medium-line-height, 140%);
  letter-spacing: var(--body-small-medium-letter-spacing, -0.01em);
  font-weight: var(--body-small-medium-font-weight, 500);
  position: relative;
  width: 207px;
  height: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.eye-off {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.button {
  background: var(--color-palette-primary-100, #614fe0);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(55, 93, 251, 1),
    0px 1px 2px 0px rgba(37, 62, 167, 0.48);
  overflow: hidden;
}
.label-text {
  color: var(--primary-0, #ffffff);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
}
.sign-up {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.already-have-an-account {
  color: var(--grey, #6c7278);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.log-in {
  color: var(--color-palette-primary-100, #614fe0);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
