.profile-drawers-wide,
.profile-drawers-wide * {
  box-sizing: border-box;
}
.profile-drawers-wide {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.drawers {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 264px;
}
.drawer {
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container {
  background: var(--color-palette-neutral-05, #f3f3f3);
  border-radius: 16px;
  padding: 32px 0px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
  overflow-x: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.elements {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drawer-info {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 133px;
  position: relative;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drawer2 {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(
    --18-semibold-subhead-2-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--18-semibold-subhead-2-font-size, 18px);
  line-height: var(--18-semibold-subhead-2-line-height, 28px);
  font-weight: var(--18-semibold-subhead-2-font-weight, 600);
  position: relative;
  flex: 1;
}
.details {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._0-products {
  color: var(--color-palette-neutral-60, #6e6e70);
  text-align: left;
  font-family: var(
    --14-regular-footnote-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--14-regular-footnote-font-size, 14px);
  line-height: var(--14-regular-footnote-line-height, 24px);
  letter-spacing: var(--14-regular-footnote-letter-spacing, 0.04em);
  font-weight: var(--14-regular-footnote-font-weight, 400);
  position: relative;
  flex: 1;
}
.cards {
  padding: 0px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper3 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.elements-container {
  background: var(--color-palette-primary-20, #d3cef6);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 104px;
  height: 126px;
  position: relative;
  overflow: hidden;
}
.container2 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.wrapper4 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.icon-image-default {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.icon-image-default2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default5 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default6 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default7 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default8 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default9 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default10 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default11 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default12 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default13 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default14 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default15 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default16 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default17 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default18 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default19 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default20 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default21 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default22 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default23 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default24 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default25 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default26 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default27 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default28 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default29 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default30 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.main {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 96px;
}
.title-base {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.wrapper5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-title {
  color: var(--color-palette-neutral-90, #272728);
  text-align: center;
  font-family: var(
    --32-extrabold-main-title-font-family,
    "HeyWow-ExtraBold",
    sans-serif
  );
  font-size: var(--32-extrabold-main-title-font-size, 32px);
  line-height: var(--32-extrabold-main-title-line-height, 44px);
  font-weight: var(--32-extrabold-main-title-font-weight, 800);
  position: relative;
  flex: 1;
}
.wrapper6 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.search {
  background: var(--color-palette-neutral-05, #f3f3f3);
  border-radius: 12px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.label {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.search-on-tassel {
  color: var(--color-palette-neutral-60, #6e6e70);
  text-align: left;
  font-family: var(--rg-bn-16px-font-family, "HeyWow-Regular", sans-serif);
  font-size: var(--rg-bn-16px-font-size, 16px);
  line-height: var(--rg-bn-16px-line-height, 22px);
  font-weight: var(--rg-bn-16px-font-weight, 400);
  position: relative;
}
.icon {
  border-radius: 12px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-search-inactive {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon2 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-palette-neutral-10, #e7e7e8);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.medium-default {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper7 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.wrapper8 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tab-bar {
  background: var(--color-palette-neutral-00, #ffffff);
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 375px;
  position: fixed;
  left: 0px;
  top: 714px;
}
.tabs {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bar {
  border-radius: 12px;
  padding: 4px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 56px;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.wrapper9 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label2 {
  color: var(--color-palette-neutral-50, #868687);
  text-align: center;
  font-family: var(
    --12-regular-caption-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--12-regular-caption-font-size, 12px);
  line-height: var(--12-regular-caption-line-height, 22px);
  letter-spacing: var(--12-regular-caption-letter-spacing, 0.06em);
  font-weight: var(--12-regular-caption-font-weight, 400);
  position: relative;
}
.wrapper10 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.wrapper11 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label3 {
  color: var(--color-palette-primary-100, #614fe0);
  text-align: center;
  font-family: var(
    --12-regular-caption-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--12-regular-caption-font-size, 12px);
  line-height: var(--12-regular-caption-line-height, 22px);
  letter-spacing: var(--12-regular-caption-letter-spacing, 0.06em);
  font-weight: var(--12-regular-caption-font-weight, 400);
  position: relative;
}
.system-light-home-indicator {
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}
.one-line {
  background: var(--color-palette-neutral-00, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
  position: fixed;
  left: 0px;
  top: 0px;
}
.status-only {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.system-status-bar {
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.rectangle-2 {
  background: var(--color-palette-neutral-00, #ffffff);
  width: 100%;
  height: 44px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
}
.container4 {
  padding: 0px 12px 4px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper13 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.image {
  background: var(--color-palette-primary-20, #d3cef6);
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.icon-user-inactive {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.placeholder2 {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.icon3 {
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.wrapper14 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
