.market-stores-store,
.market-stores-store * {
  box-sizing: border-box;
}
.market-stores-store {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.main {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 96px;
}
.title-avatar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper {
  flex-shrink: 0;
  width: 103px;
  height: 103px;
  position: relative;
}
.ring {
  background: var(--color-palette-neutral-00, #ffffff);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--color-palette-neutral-10, #e7e7e8);
  border-width: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.image {
  background: var(--color-palette-neutral-00, #ffffff);
  border-radius: 1000px;
  width: 84.47%;
  height: 84.47%;
  position: absolute;
  right: 7.77%;
  left: 7.77%;
  bottom: 7.77%;
  top: 7.77%;
  overflow: hidden;
}
.placeholder {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.title-base {
  padding: 0px 24px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-title {
  color: var(--color-palette-neutral-90, #272728);
  text-align: center;
  font-family: var(
    --32-extrabold-main-title-font-family,
    "HeyWow-ExtraBold",
    sans-serif
  );
  font-size: var(--32-extrabold-main-title-font-size, 32px);
  line-height: var(--32-extrabold-main-title-line-height, 44px);
  font-weight: var(--32-extrabold-main-title-font-weight, 800);
  position: relative;
  flex: 1;
}
.label {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.details-label-optional {
  color: var(--color-palette-neutral-60, #6e6e70);
  text-align: center;
  font-family: var(
    --14-regular-footnote-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--14-regular-footnote-font-size, 14px);
  line-height: var(--14-regular-footnote-line-height, 24px);
  letter-spacing: var(--14-regular-footnote-letter-spacing, 0.04em);
  font-weight: var(--14-regular-footnote-font-weight, 400);
  position: relative;
  flex: 1;
}
.wrapper3 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.label2 {
  background: var(--color-palette-primary-100, #614fe0);
  border-radius: 12px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.container {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 128px;
  position: relative;
  overflow: hidden;
}
.label3 {
  color: var(--color-palette-neutral-00, #ffffff);
  text-align: left;
  font-family: var(
    --16-semibold-body-button-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--16-semibold-body-button-font-size, 16px);
  line-height: var(--16-semibold-body-button-line-height, 26px);
  letter-spacing: var(--16-semibold-body-button-letter-spacing, 0.02em);
  font-weight: var(--16-semibold-body-button-font-weight, 600);
  position: relative;
}
.icon {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-palette-neutral-10, #e7e7e8);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.department {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.letter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.m {
  color: var(--color-palette-neutral-90, #272728);
  text-align: right;
  font-family: "HeyWow-ExtraBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 800;
  position: relative;
}
.text {
  padding: 8px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow-x: auto;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.label4 {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(
    --16-semibold-body-button-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--16-semibold-body-button-font-size, 16px);
  line-height: var(--16-semibold-body-button-line-height, 26px);
  letter-spacing: var(--16-semibold-body-button-letter-spacing, 0.02em);
  font-weight: var(--16-semibold-body-button-font-weight, 600);
  position: relative;
}
.dot {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dot-indicator-active {
  background: var(--color-palette-primary-100, #614fe0);
  border-radius: 50%;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
}
.text3 {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab2 {
  color: var(--color-palette-neutral-50, #868687);
  text-align: left;
  font-family: var(
    --16-semibold-body-button-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--16-semibold-body-button-font-size, 16px);
  line-height: var(--16-semibold-body-button-line-height, 26px);
  letter-spacing: var(--16-semibold-body-button-letter-spacing, 0.02em);
  font-weight: var(--16-semibold-body-button-font-weight, 600);
  position: relative;
}
.elements {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 475px;
}
.spotlight {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: relative;
}
.wrapper4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cards {
  align-self: stretch;
  flex-shrink: 0;
  height: 196px;
  position: relative;
}
.elements-container {
  background: var(--color-palette-primary-20, #d3cef6);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80.43%;
  height: 144px;
  position: absolute;
  right: 9.79%;
  left: 9.79%;
  top: 52px;
  overflow: hidden;
}
.container3 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.wrapper5 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.icon-image-default {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.placeholder2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.elements-container2 {
  background: var(--color-palette-primary-20, #d3cef6);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90.21%;
  height: 162px;
  position: absolute;
  right: 4.89%;
  left: 4.89%;
  top: 26px;
  box-shadow: var(
    --shadow-medium-box-shadow,
    0px 10px 20px 0px rgba(14, 14, 16, 0.08)
  );
  overflow: hidden;
}
.icon-image-default2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.elements-container3 {
  background: var(--color-palette-primary-20, #d3cef6);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 180px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
  box-shadow: var(
    --shadow-medium-box-shadow,
    0px 10px 20px 0px rgba(14, 14, 16, 0.08)
  );
  overflow: hidden;
}
.icon-image-default3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-section-head {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 375px;
  position: relative;
}
.elements2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.details {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(
    --18-semibold-subhead-2-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--18-semibold-subhead-2-font-size, 18px);
  line-height: var(--18-semibold-subhead-2-line-height, 28px);
  font-weight: var(--18-semibold-subhead-2-font-weight, 600);
  position: relative;
  flex: 1;
}
.icon2 {
  border-radius: 12px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-arrow-right-default {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.carousel {
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 375px;
  position: relative;
  overflow-x: auto;
}
.wrapper6 {
  padding: 0px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cards2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.card-product {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 168px;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.wrapper7 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.elements-container4 {
  background: var(--color-palette-primary-20, #d3cef6);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  flex: 1;
  height: 198px;
  position: relative;
}
.icon-image-default4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.elements-details {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.wrapper8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-collection {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(--16-regular-body-font-family, "HeyWow-Regular", sans-serif);
  font-size: var(--16-regular-body-font-size, 16px);
  line-height: var(--16-regular-body-line-height, 26px);
  letter-spacing: var(--16-regular-body-letter-spacing, 0.02em);
  font-weight: var(--16-regular-body-font-weight, 400);
  position: relative;
  flex: 1;
}
.wrapper9 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.price {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._000 {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(
    --16-semibold-body-button-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--16-semibold-body-button-font-size, 16px);
  line-height: var(--16-semibold-body-button-line-height, 26px);
  letter-spacing: var(--16-semibold-body-button-letter-spacing, 0.02em);
  font-weight: var(--16-semibold-body-button-font-weight, 600);
  position: relative;
}
.icon-image-default5 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default6 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default7 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default8 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-arrow-right-default2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-image-default9 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.discount {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._0002 {
  color: var(--color-palette-neutral-60, #6e6e70);
  text-align: left;
  font-family: "HeyWow-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-decoration: line-through;
  position: relative;
}
._0003 {
  color: var(--color-palette-accent-red-100, #df0707);
  text-align: left;
  font-family: var(
    --16-semibold-body-button-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--16-semibold-body-button-font-size, 16px);
  line-height: var(--16-semibold-body-button-line-height, 26px);
  letter-spacing: var(--16-semibold-body-button-letter-spacing, 0.02em);
  font-weight: var(--16-semibold-body-button-font-weight, 600);
  position: relative;
}
.icon-image-default10 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default11 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default12 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default13 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.one-line {
  background: var(--color-palette-neutral-00, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
  position: fixed;
  left: 0px;
  top: 0px;
}
.status-only {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.system-status-bar {
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.rectangle-2 {
  background: var(--color-palette-neutral-00, #ffffff);
  width: 100%;
  height: 44px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
}
.container7 {
  padding: 0px 12px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.wrapper10 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title-icon {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.icon3 {
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.medium-default {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.wrapper11 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.elements-page-title {
  opacity: 0;
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.page-title {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(
    --18-semibold-subhead-2-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--18-semibold-subhead-2-font-size, 18px);
  line-height: var(--18-semibold-subhead-2-line-height, 28px);
  font-weight: var(--18-semibold-subhead-2-font-weight, 600);
  position: relative;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.medium-default2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper12 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.wrapper13 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tab-bar {
  background: var(--color-palette-neutral-00, #ffffff);
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 98px;
  position: fixed;
  left: 0px;
  top: 714px;
}
.tabs {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bar {
  border-radius: 12px;
  padding: 4px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 56px;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.wrapper14 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label5 {
  color: var(--color-palette-neutral-50, #868687);
  text-align: center;
  font-family: var(
    --12-regular-caption-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--12-regular-caption-font-size, 12px);
  line-height: var(--12-regular-caption-line-height, 22px);
  letter-spacing: var(--12-regular-caption-letter-spacing, 0.06em);
  font-weight: var(--12-regular-caption-font-weight, 400);
  position: relative;
}
.wrapper15 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label6 {
  color: var(--color-palette-primary-100, #614fe0);
  text-align: center;
  font-family: var(
    --12-regular-caption-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--12-regular-caption-font-size, 12px);
  line-height: var(--12-regular-caption-line-height, 22px);
  letter-spacing: var(--12-regular-caption-letter-spacing, 0.06em);
  font-weight: var(--12-regular-caption-font-weight, 400);
  position: relative;
}
.wrapper16 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.system-light-home-indicator {
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}
