.market-stores-store-clothing,
.market-stores-store-clothing * {
  box-sizing: border-box;
}
.market-stores-store-clothing {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.container {
  background: var(--color-palette-neutral-00, #ffffff);
  width: 375px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 120px;
  overflow-x: auto;
}
.tabs {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container2 {
  background: var(--color-palette-primary-10, #efedfc);
  border-radius: 12px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  position: relative;
  overflow: hidden;
}
.label {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.tab {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(
    --16-semibold-body-button-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--16-semibold-body-button-font-size, 16px);
  line-height: var(--16-semibold-body-button-line-height, 26px);
  letter-spacing: var(--16-semibold-body-button-letter-spacing, 0.02em);
  font-weight: var(--16-semibold-body-button-font-weight, 600);
  position: relative;
}
.container3 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-palette-neutral-10, #e7e7e8);
  border-width: 1px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  position: relative;
  overflow: hidden;
}
.tab2 {
  color: var(--color-palette-neutral-50, #868687);
  text-align: left;
  font-family: var(
    --16-semibold-body-button-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--16-semibold-body-button-font-size, 16px);
  line-height: var(--16-semibold-body-button-line-height, 26px);
  letter-spacing: var(--16-semibold-body-button-letter-spacing, 0.02em);
  font-weight: var(--16-semibold-body-button-font-weight, 600);
  position: relative;
}
.title {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 168px;
}
.base {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item-category-product {
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.elements {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container5 {
  background: var(--color-palette-primary-20, #d3cef6);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container6 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.icon-image-default {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.label2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.item {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.item2 {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(--16-regular-body-font-family, "HeyWow-Regular", sans-serif);
  font-size: var(--16-regular-body-font-size, 16px);
  line-height: var(--16-regular-body-line-height, 26px);
  letter-spacing: var(--16-regular-body-letter-spacing, 0.02em);
  font-weight: var(--16-regular-body-font-weight, 400);
  position: relative;
}
.icon-image-default2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default5 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default6 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default7 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default8 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default9 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default10 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default11 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.icon-image-default12 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.one-line {
  background: var(--color-palette-neutral-00, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
  position: fixed;
  left: 0px;
  top: 0px;
}
.status-only {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.system-status-bar {
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.rectangle-2 {
  background: var(--color-palette-neutral-00, #ffffff);
  width: 100%;
  height: 44px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
}
.container7 {
  padding: 0px 12px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.wrapper2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title-icon {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.icon {
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.medium-default {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.wrapper3 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.elements-page-title {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.page-title {
  color: var(--color-palette-neutral-90, #272728);
  text-align: left;
  font-family: var(
    --18-semibold-subhead-2-font-family,
    "HeyWow-SemiBold",
    sans-serif
  );
  font-size: var(--18-semibold-subhead-2-font-size, 18px);
  line-height: var(--18-semibold-subhead-2-line-height, 28px);
  font-weight: var(--18-semibold-subhead-2-font-weight, 600);
  position: relative;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.medium-default2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tab-bar {
  background: var(--color-palette-neutral-00, #ffffff);
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 375px;
  position: fixed;
  left: 0px;
  top: 714px;
}
.tabs2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bar {
  border-radius: 12px;
  padding: 4px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 56px;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.wrapper5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label3 {
  color: var(--color-palette-neutral-50, #868687);
  text-align: center;
  font-family: var(
    --12-regular-caption-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--12-regular-caption-font-size, 12px);
  line-height: var(--12-regular-caption-line-height, 22px);
  letter-spacing: var(--12-regular-caption-letter-spacing, 0.06em);
  font-weight: var(--12-regular-caption-font-weight, 400);
  position: relative;
}
.wrapper6 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label4 {
  color: var(--color-palette-primary-100, #614fe0);
  text-align: center;
  font-family: var(
    --12-regular-caption-font-family,
    "HeyWow-Regular",
    sans-serif
  );
  font-size: var(--12-regular-caption-font-size, 12px);
  line-height: var(--12-regular-caption-line-height, 22px);
  letter-spacing: var(--12-regular-caption-letter-spacing, 0.06em);
  font-weight: var(--12-regular-caption-font-weight, 400);
  position: relative;
}
.wrapper7 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.system-light-home-indicator {
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}
