/* Figma Styles of your File */
:root {
  /* Colors */
  --color-palette-neutral-100: #0e0e10;
  --color-palette-neutral-95: #1a1a1c;
  --color-palette-neutral-90: #272728;
  --color-palette-neutral-85: #323234;
  --color-palette-neutral-80: #3e3e40;
  --color-palette-neutral-70: #575758;
  --color-palette-neutral-60: #6e6e70;
  --color-palette-neutral-50: #868687;
  --color-palette-neutral-40: #9f9f9f;
  --color-palette-neutral-30: #b7b7b8;
  --color-palette-neutral-20: #cfcfcf;
  --color-palette-neutral-15: #dbdbdb;
  --color-palette-neutral-10: #e7e7e8;
  --color-palette-neutral-05: #f3f3f3;
  --color-palette-neutral-00: #ffffff;
  --color-palette-primary-190: #0a0816;
  --color-palette-primary-180: #1b163f;
  --color-palette-primary-160: #2d2467;
  --color-palette-primary-140: #3e338f;
  --color-palette-primary-120: #5041b8;
  --color-palette-primary-100: #614fe0;
  --color-palette-primary-80: #7d6fe6;
  --color-palette-primary-60: #9a8eeb;
  --color-palette-primary-40: #b6aef1;
  --color-palette-primary-20: #d3cef6;
  --color-palette-primary-10: #efedfc;
  --color-palette-secondary-190: #1a0c09;
  --color-palette-secondary-180: #472319;
  --color-palette-secondary-160: #753929;
  --color-palette-secondary-140: #a34f3a;
  --color-palette-secondary-120: #d1664a;
  --color-palette-secondary-100: #ff7c5a;
  --color-palette-secondary-80: #ff9478;
  --color-palette-secondary-60: #ffab95;
  --color-palette-secondary-40: #ffc3b3;
  --color-palette-secondary-20: #ffdad1;
  --color-palette-secondary-10: #fff2ef;
  --color-palette-accent-yellow-180: #664013;
  --color-palette-accent-yellow-140: #99601d;
  --color-palette-accent-yellow-100: #ffaf36;
  --color-palette-accent-yellow-40: #ffdca5;
  --color-palette-accent-yellow-10: #fff1dc;
  --color-palette-accent-green-180: #19594d;
  --color-palette-accent-green-140: #2ea690;
  --color-palette-accent-green-100: #41e8ca;
  --color-palette-accent-green-40: #97f2e2;
  --color-palette-accent-green-10: #d7faf4;
  --color-palette-accent-purple-180: #522959;
  --color-palette-accent-purple-140: #984ba5;
  --color-palette-accent-purple-100: #d86aea;
  --color-palette-accent-purple-40: #eaadf4;
  --color-palette-accent-purple-10: #fbf0fd;
  --color-palette-accent-red-180: #661515;
  --color-palette-accent-red-140: #b22424;
  --color-palette-accent-red-100: #df0707;
  --color-palette-accent-red-40: #f8a5a5;
  --color-palette-accent-red-10: #feefef;
  --effects-scrim: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --effects-opacity-95: rgba(14, 14, 16, 0.95);
  --effects-opacity-90: rgba(14, 14, 16, 0.9);
  --effects-opacity-80: rgba(14, 14, 16, 0.8);
  --effects-opacity-60: rgba(14, 14, 16, 0.6);
  --effects-opacity-40: rgba(14, 14, 16, 0.4);
  --effects-opacity-20: rgba(14, 14, 16, 0.2);
  --effects-opacity-10: rgba(14, 14, 16, 0.1);
  --effects-opacity-05: rgba(14, 14, 16, 0.05);

  /* Fonts */
  --32-extrabold-main-title-font-family: HeyWow-ExtraBold, sans-serif;
  --32-extrabold-main-title-font-size: 32px;
  --32-extrabold-main-title-line-height: 44px;
  --32-extrabold-main-title-font-weight: 800;
  --32-extrabold-main-title-font-style: normal;
  --32-semibold-main-title-font-family: HeyWow-SemiBold, sans-serif;
  --32-semibold-main-title-font-size: 32px;
  --32-semibold-main-title-line-height: 44px;
  --32-semibold-main-title-font-weight: 600;
  --32-semibold-main-title-font-style: normal;
  --32-regular-main-title-font-family: HeyWow-Regular, sans-serif;
  --32-regular-main-title-font-size: 32px;
  --32-regular-main-title-line-height: 44px;
  --32-regular-main-title-font-weight: 400;
  --32-regular-main-title-font-style: normal;
  --24-extrabold-title-1-font-family: HeyWow-ExtraBold, sans-serif;
  --24-extrabold-title-1-font-size: 24px;
  --24-extrabold-title-1-line-height: 33.98px;
  --24-extrabold-title-1-font-weight: 800;
  --24-extrabold-title-1-font-style: normal;
  --24-semibold-title-1-font-family: HeyWow-SemiBold, sans-serif;
  --24-semibold-title-1-font-size: 24px;
  --24-semibold-title-1-line-height: 33.98px;
  --24-semibold-title-1-font-weight: 600;
  --24-semibold-title-1-font-style: normal;
  --24-regular-title-1-font-family: HeyWow-Regular, sans-serif;
  --24-regular-title-1-font-size: 24px;
  --24-regular-title-1-line-height: 33.98px;
  --24-regular-title-1-font-weight: 400;
  --24-regular-title-1-font-style: normal;
  --20-extrabold-title-2-font-family: HeyWow-ExtraBold, sans-serif;
  --20-extrabold-title-2-font-size: 20px;
  --20-extrabold-title-2-line-height: 30px;
  --20-extrabold-title-2-font-weight: 800;
  --20-extrabold-title-2-font-style: normal;
  --20-semibold-headline-font-family: HeyWow-SemiBold, sans-serif;
  --20-semibold-headline-font-size: 20px;
  --20-semibold-headline-line-height: 30px;
  --20-semibold-headline-font-weight: 600;
  --20-semibold-headline-font-style: normal;
  --20-regular-subhead-1-font-family: HeyWow-Regular, sans-serif;
  --20-regular-subhead-1-font-size: 20px;
  --20-regular-subhead-1-line-height: 30px;
  --20-regular-subhead-1-font-weight: 400;
  --20-regular-subhead-1-font-style: normal;
  --18-extrabold-subhead-2-font-family: HeyWow-ExtraBold, sans-serif;
  --18-extrabold-subhead-2-font-size: 18px;
  --18-extrabold-subhead-2-line-height: 28px;
  --18-extrabold-subhead-2-font-weight: 800;
  --18-extrabold-subhead-2-font-style: normal;
  --18-semibold-subhead-2-font-family: HeyWow-SemiBold, sans-serif;
  --18-semibold-subhead-2-font-size: 18px;
  --18-semibold-subhead-2-line-height: 28px;
  --18-semibold-subhead-2-font-weight: 600;
  --18-semibold-subhead-2-font-style: normal;
  --18-regular-subhead-2-font-family: HeyWow-Regular, sans-serif;
  --18-regular-subhead-2-font-size: 18px;
  --18-regular-subhead-2-line-height: 28px;
  --18-regular-subhead-2-font-weight: 400;
  --18-regular-subhead-2-font-style: normal;
  --16-extrabold-body-button-font-family: HeyWow-ExtraBold, sans-serif;
  --16-extrabold-body-button-font-size: 16px;
  --16-extrabold-body-button-line-height: 26px;
  --16-extrabold-body-button-font-weight: 800;
  --16-extrabold-body-button-font-style: normal;
  --16-semibold-body-button-font-family: HeyWow-SemiBold, sans-serif;
  --16-semibold-body-button-font-size: 16px;
  --16-semibold-body-button-line-height: 26px;
  --16-semibold-body-button-font-weight: 600;
  --16-semibold-body-button-font-style: normal;
  --16-regular-body-font-family: HeyWow-Regular, sans-serif;
  --16-regular-body-font-size: 16px;
  --16-regular-body-line-height: 26px;
  --16-regular-body-font-weight: 400;
  --16-regular-body-font-style: normal;
  --14-extrabold-footnote-font-family: HeyWow-ExtraBold, sans-serif;
  --14-extrabold-footnote-font-size: 14px;
  --14-extrabold-footnote-line-height: 24px;
  --14-extrabold-footnote-font-weight: 800;
  --14-extrabold-footnote-font-style: normal;
  --14-semibold-footnote-font-family: HeyWow-SemiBold, sans-serif;
  --14-semibold-footnote-font-size: 14px;
  --14-semibold-footnote-line-height: 24px;
  --14-semibold-footnote-font-weight: 600;
  --14-semibold-footnote-font-style: normal;
  --14-regular-footnote-font-family: HeyWow-Regular, sans-serif;
  --14-regular-footnote-font-size: 14px;
  --14-regular-footnote-line-height: 24px;
  --14-regular-footnote-font-weight: 400;
  --14-regular-footnote-font-style: normal;
  --12-extrabold-caption-font-family: HeyWow-ExtraBold, sans-serif;
  --12-extrabold-caption-font-size: 12px;
  --12-extrabold-caption-line-height: 22px;
  --12-extrabold-caption-font-weight: 800;
  --12-extrabold-caption-font-style: normal;
  --12-semibold-caption-font-family: HeyWow-SemiBold, sans-serif;
  --12-semibold-caption-font-size: 12px;
  --12-semibold-caption-line-height: 22px;
  --12-semibold-caption-font-weight: 600;
  --12-semibold-caption-font-style: normal;
  --12-regular-caption-font-family: HeyWow-Regular, sans-serif;
  --12-regular-caption-font-size: 12px;
  --12-regular-caption-line-height: 22px;
  --12-regular-caption-font-weight: 400;
  --12-regular-caption-font-style: normal;

  /* Effects */
  --shadow-low-box-shadow: 0px 5px 10px 0px rgba(14, 14, 16, 0.06);
  --shadow-medium-box-shadow: 0px 10px 20px 0px rgba(14, 14, 16, 0.08);
  --shadow-high-box-shadow: 0px 15px 40px 0px rgba(14, 14, 16, 0.12);
}
/* Figma Color Variables of your File */
